@import '../../../styles/settings';

.add-user-form {
  margin: $m-size 0;
  padding: 0 $l-size;
}

.add-user-form__input-group {
  display: flex;
  justify-content: space-between;
}

.add-user-form__field {
  margin-left: $m-size;

  &:first-child {
    margin-left: 0;
  }

  &--id {
    flex-grow: 0;
    flex-basis: 6rem;
  }
}

.add-user-form__button-group {
  margin-top: $s-size;
  text-align: right;
}
