@import '../../../styles/settings';

.user-info-form {
  margin: $m-size 0;
  padding: 0 $l-size;
}

.user-info-form__textarea {
  display: inline-block;
  height: 10rem;
  resize: none;
  width: 20rem;
}