@import '../../styles/settings';

.filter-panel {
  margin: $m-size 0;
  padding: 0 $l-size;

  &__btn {
    margin-left: $s-size;
  }
}

.filter-panel__form {
  display: inline-block;
}

.filter-panel__info {
  display: inline-block;
  margin: 0 $m-size;
}

.filter-panel__highlight {
  background-color: yellow;
}